<div class="main-analysis">
  <div class="analysis-card">
    <h3 style="text-align: center;">What is a Counter?</h3>
    <p>In order to have a powerful Pokemon team, you'll need a variety of Pokemon that as a whole can take on most types, stats, and abilities.</p>
    <p>A counter is a Pokemon that has a type or stat advantage over the opposing Pokemon. This allows the Counter the opportunity to setup hazards, boost their stats, heal their teammates, or faint the opposing Pokemon.</p>
    <div class="first_expl">
      <img style="display: block; margin: 0 auto; height: 50px; width: 70px; margin-top: 10px;" src="/img/gengar.png">
        <div class="explanation">
          <img class="explanation-img" style="margin-right: 90px; margin-top: 10px;" src="/img/ghost.png"></li>
          <img class="explanation-img" style="margin-top: 10px;" src="/img/poison.png"></li>
        </div>
      </div>
      <p style="text-align: center;">Gengar has <strong>amazing</strong> immunities.</p>
      <p>Thanks to his ability <em>Levitate</em>, Gengar is also immune to Ground, in addition to Normal and Fighting moves. Furthermore, he soaks up Toxic Spikes and can switch into a Toxic user without being harmed.</p>
  </div>
<div class="analysis-card">
    <h3>Counter Submission</h3>
    <p>There is always room for improvement, especially when it comes to compiling a database of checks and counters. If you have a Pokemon you'd like to submit as a counter to another Pokemon, do so here.</p>
    <p>The first box is the Pokemon that will be countered against.</p>
    <p>The second box is the Pokemon you would like to add to the counters of the first Pokemon.</p>
    <form action="/submit_counter" method="post">
      Pokemon: 
      <select name="first_pkmn">

        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <br>
      Counter:
      <select style="margin-left: 9px;" name="second_pkmn">
        <% @pkmn_list.each do |pkmn| %>
          Counter: <option><%= pkmn %></option>
        <% end %>
      </select>
      <br>
      <textarea style="resize: none;" name="explain" rows="5" cols="35" maxlength="200" required="required">Explain why in this area. 200 characters max.</textarea>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="analysis-card">
    <form action="/counter_analysis" method="post">
      <strong>Find Counters:</strong>
      <select name="pkmn">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>