

<% content_for :session_header do %>
  <% if session[:success] %>
    <p><%= session.delete(:success)%></p>
  <% end %>
<% end %>

<div class="main-overview">
<% display_pkmn_checks("Venusaur").each do |pkmn| %>
  <div class="overviewcard"><%= display_pkmn_name_type(pkmn) %></div>
<% end %>
<% @users.each do |usr| %>
  <p><%= usr.user %></p>
<% end %>
<p><%= @users %></p>
</div>



