

<% content_for :session_header do %>
  <% if session[:success] %>
    <p><%= session.delete(:success)%></p>
  <% end %>
<% end %>

<div class="main-overview">
<% display_pkmn_checks("Venusaur").each do |pkmn| %>
  <div class="overviewcard"><%= display_pkmn_name_type(pkmn) %></div>
<% end %>
<div class="overviewcard"></div>
</div>
<p><%= find_user("steven").teams[0].pkmn %></p> <!--- how to access pokemon team data -->
<p><%= @users %></p>
</div>



