<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% elsif session[:error] %>
    <h2 class="error"><%= session.delete(:error)%></h2>
  <% end %>
<% end %>
<div class="article_exp_two">
  <br>
  <form action="/login" method="post">
    Username: <input type="text" name="username">
    <br>
    <br>
    Password: <input type="password" name="password">
    <br>
    <br>
    <input type="submit" value="Log In">
  </form>
</div>