<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% end %>
<% end %>

<div class="messages_all">
<% if @curr_user.messages.empty? %>
  <div class="new-message-box"> 
    <p>No messages.</p>
  </div>
<% else %>
  <% @curr_user.messages.each_with_index do |message, idx| %>
    <div class="new-message-box">
      <strong>Title</strong>: <%= message.title %>
      <br>
      <br>
      <strong>Message</strong>:
      <br>
      <br>
      <%= message.msg %>  
      <br>
      <br>
      <form style="display: inline-block;" action="/send_message" method="get">
        <input type="submit" value="Reply">
      </form>
      <form style="display: inline-block;" action="/<%= idx %>/delete_message" method="post">
        <input type="submit" value="Delete">
      </form>
    </div>
  <% end %>
<% end %>
