<div class="article_exp">
    <h2 style="text-align: center;">Counters</h3>
      <p>These are the Pokemon who can counter the Pokemon you selected. Remember, the database is not complete and can always use new ideas and submissions.</p>
</div>
<div class="main-overview">
  <% @check_poke[:walls].each do |pkmn| %>
    <div class="overviewcard"><%= display_pkmn_name_type(pkmn) %></div>
  <% end %>
</div>