<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% elsif session[:error] %>
    <h2 class="error"><%= session.delete(:error)%></h2>
  <% end %>
<% end %>

<div class="article_exp_two">
  <br>
    <form action="/send_message" method="post">
      User:
      <select name="receiver">
        <% @noncurrent_users.each do |u| %>
        <option><%= u.user %></option>
        <% end %>
      </select>
      Title:
      <input type="text" name="title" maxlength="25">
      <br>
      <br>
      Message:
      <textarea style="resize: none;" name="message" rows="5" cols="35" maxlength="200" required="required">Explain why in this area. 200 characters max.</textarea>
      <br>
      <br>
      <input type="submit" value="Send Message">
    </form>  

</div>

