.list-pkmn {
  color: black;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 2fr 50px;
  grid-template-areas: 
    "header"
    "sidenav"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #648ca6;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

.sidenav {
    grid-area: sidenav;
    background-color: #394263;
  }

.sidenav_list {
  list-style-type: none;
}

.sidenav_list-item {
  display: inline-block;
  margin-right: 10px;
  color: #ddd;
}

.sidenav_list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main {
  grid-area: main;
  background-image: url("/img/darker_bkgr.png");
  height: 100%;
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  z-index: 1;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 75px;
  background-color: #e3e4e6;
  color: slategray;
}

.session_header {
  display: flex;
  justify-content: space-between;
  height: 5px;
  font-size: 10px;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  font-family: Garamond;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  opacity: .85;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
}

.overviewcard select {
  width: 70%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.overviewcard input {
  float: right;
}

.overviewcard img {
  padding-left: 5px;
}

.main-analysis {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr 50px;
  grid-gap: 20px;
  margin: 20px;
}

.analysis-card {
  font-family: Garamond;
  font-size: 18px;
  background-color: #d3d3;
  border-radius: 25px;
  background-color: #d3d3d3;
  opacity: .85;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

.analysis-card select {
  width: 50%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin: 0 auto;
  margin-bottom: 8px;
}

.first_expl {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 300px;
  margin-top: 10px;
}

.explanation {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 170px;
  text-align: center;

}

.explanation-img {
  margin-left: 5px;
  width: 32px;
  height: 14px;
  float: right;
}

.pkmn-searched {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 20px;
}

.footer {
  grid-area: footer;
}

.error {
  color: red;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #82bef6;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.team_grid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px;
  grid-auto-rows: 30px;
  grid-gap: 10px;
  margin: 5px;
}

.pkmn_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
  height: 35px;
  width: 35px;
}

.new-article-div {
  display: grid;
  grid-template-columns: 90%;
  grid-auto-rows: 1fr;
  margin: 20px;
  justify-content: center;
}

.new-article-box {
  font-family: Garamond;
  font-size: 18px;
  background-color: #d3d3;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

.text-article {
  resize: none;
  border: 1px black solid;
    border-radius: 10px;
}

.pkmn_img img {
  margin-left: -20px;
}

.img_container {
  display: inline-block;
}

.card:nth-child(3) {
  height: 265px;
}

.new-tournament {
  display: grid;
  grid-template-columns: 80%;
  grid-auto-rows: 1fr 190px;
  margin: 20px;
  justify-content: center;
  grid-gap: 10px;
}

.tournaments_div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 20px;
  margin: 20px;
} 

.tournament-card {
  display: flex;
  flex-direction: column;
  font-family: Garamond;
  font-size: 18px;
  background-color: #d3d3;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

.send_message {
  display: grid;
  grid-template-columns: 80%;
  grid-auto-rows: 1fr 190px;
  margin: 20px;
  justify-content: center;
  grid-gap: 10px;
}

.send_message_little {
  display: flex;
  flex-direction: column;
  font-family: Garamond;
  font-size: 18px;
  background-color: #d3d3;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
  .new-tournament {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

    .grid-container {
      grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
      grid-template-rows: 50px 1fr 50px;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }

    .new-article-div {
      display: grid;
      grid-template-columns: 85%;
      grid-auto-rows: 1fr;
      margin: 20px;
      justify-content: center;
    }

    .sidenav {
      display: flex;
      flex-direction: column;
    }

  .sidenav li {
    display: flex
  }

  .sidenav_list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }

  .sidenav_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }

  .sidenav_list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    }
  }

  /* Medium-sized screen breakpoint (tablet, 1050px) */
  @media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }

    .main-analysis {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: 1fr 50px;
      grid-gap: 20px;
      margin: 20px;
    }

    .analysis-card:nth-child(3) {
      height: 20px;
    }
  }
  
  .pkmn_selection select {
  width: 70%;
  padding: 16px 20px;
  margin-bottom: 7px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.pkmn_selection h3 {
  display: inline-block;
  margin-right: 20px;
}

.pkmn_selection input {
  margin: 0 auto;
  margin-top: 20px;
}

.article_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  grid-gap: 30px;
  margin: 20px;
}

.article-link {
  font-family: Garamond;
  font-size: 18px;
  background-color: #d3d3;
  border-radius: 25px;
  border-color: #9999ff;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

.article-link span:before {
  content: " ";
  display: inline-block;
  width: 30px;
}

.read-article {
  display: grid;
  grid-template-columns: 70%;
  margin: 20px;
  justify-content: center;
}

